# Lecture 07

Your are provided data of a company and its employess in Json formate.
You need to perform EDA and solve the problems listed down.

In [27]:
# Load Libraries
import numpy as np
import pandas as pd
import json

In [28]:
#code Here
d_path = "H:\Machine Learning\EDA\employee_company_data.json"
with open(d_path, "rb") as f:
    jdata = json.load(f)

**Question 1:**

Retrieve and display the company's name and location from the JSON data.

In [29]:
jdata['company_info']['location']

'San Francisco, CA'

In [30]:
jdata

{'metadata': {'version': '1.0',
  'description': 'Employee and Company Data',
  'last_updated': '2023-09-30'},
 'employees': [{'id': 1,
   'firstName': 'John',
   'lastName': 'Doe',
   'position': 'Software Engineer',
   'salary': 75000,
   'email': 'john.doe@techcorp.com',
   'hireDate': '2020-05-15',
   'manager': 'Michael Brown',
   'address': {'street': '123 Main St',
    'city': 'San Francisco',
    'state': 'CA',
    'zipcode': '94101'}},
  {'id': 2,
   'firstName': 'Alice',
   'lastName': 'Smith',
   'position': 'Data Analyst',
   'salary': 60000,
   'email': 'alice.smith@techcorp.com',
   'hireDate': '2019-08-22',
   'manager': 'Michael Brown',
   'address': {'street': '456 Elm St',
    'city': 'San Francisco',
    'state': 'CA',
    'zipcode': '94102'}},
  {'id': 3,
   'firstName': 'Bob',
   'lastName': 'Johnson',
   'position': 'Product Manager',
   'salary': 85000,
   'email': 'bob.johnson@techcorp.com',
   'hireDate': '2018-03-10',
   'manager': 'Sarah Williams',
   'address': {'street': '789 Oak St',
    'city': 'San Francisco',
    'state': 'CA',
    'zipcode': '94103'}},
  {'id': 4,
   'firstName': 'Emily',
   'lastName': 'Wilson',
   'position': 'UX Designer',
   'salary': 70000,
   'email': 'emily.wilson@techcorp.com',
   'hireDate': '2021-02-28',
   'manager': 'Sarah Williams',
   'address': {'street': '101 Pine St',
    'city': 'San Francisco',
    'state': 'CA',
    'zipcode': '94104'}}],
 'departments': {'engineering': ['John Doe', 'Alice Smith'],
  'product_management': ['Bob Johnson', 'Emily Wilson'],
  'design': ['Emily Wilson']},
 'company_info': {'name': 'TechCorp',
  'location': 'San Francisco, CA',
  'foundedYear': 2000,
  'ceo': 'Sarah Williams'},
 'office_locations': {'san_francisco_hq': {'street': '500 Tech Plaza',
   'city': 'San Francisco',
   'state': 'CA',
   'zipcode': '94105'},
  'new_york_branch': {'street': '123 Wall St',
   'city': 'New York',
   'state': 'NY',
   'zipcode': '10005'}},
 'benefits': {'health_insurance': True,
  'retirement_plan': True,
  'vacation_days': 20}}

In [31]:
employes = jdata['employees']
company = jdata['company_info']
location = jdata['office_locations']
benefits = jdata['benefits']
departs = jdata["departments"]
ben = jdata['benefits']

In [32]:
data = pd.json_normalize(jdata['employees'])

In [33]:
emp_data = pd.DataFrame(employes)
comp_data = pd.DataFrame([company])
loc_data = pd.DataFrame(location)
ben_data = pd.DataFrame([benefits])
departs_data = pd.DataFrame([departs])
ben_data = pd.DataFrame(ben, index=[0])

In [34]:
pd.json_normalize(jdata['employees'])

,id,firstName,lastName,position,salary,email,hireDate,manager,address.street,address.city,address.state,address.zipcode
0,1,John,Doe,Software Engineer,75000,john.doe@techcorp.com,2020-05-15,Michael Brown,123 Main St,San Francisco,CA,94101
1,2,Alice,Smith,Data Analyst,60000,alice.smith@techcorp.com,2019-08-22,Michael Brown,456 Elm St,San Francisco,CA,94102
2,3,Bob,Johnson,Product Manager,85000,bob.johnson@techcorp.com,2018-03-10,Sarah Williams,789 Oak St,San Francisco,CA,94103
3,4,Emily,Wilson,UX Designer,70000,emily.wilson@techcorp.com,2021-02-28,Sarah Williams,101 Pine St,San Francisco,CA,94104

In [35]:
pd.json_normalize(departs)

               engineering           product_management          design
0  [John Doe, Alice Smith]  [Bob Johnson, Emily Wilson]  [Emily Wilson]

Convert given employees data into a dataframe.

**Question 2:**

 Find and display the first name, last name, and email address of the employee with ID 3.

In [36]:
#code Here
id_3 = emp_data[emp_data['id']==3]
id_3[['firstName','lastName','email']]

  firstName lastName                     email
2       Bob  Johnson  bob.johnson@techcorp.com

In [37]:
departs_data["engineering"].str.len()

0    2
Name: engineering, dtype: int64

**Question 3:**

Find the department with the most employees, and display its name along with the number of employees it has.

In [38]:
# code Here
max_dep = departs_data.idxmax(axis=1)[0]
emp_num = departs_data[max_dep].str.len()

print(f"The department name is {max_dep} and the number of employee is {emp_num[0]}")

The department name is engineering and the number of employee is 2

In [39]:
departs_data

               engineering           product_management          design
0  [John Doe, Alice Smith]  [Bob Johnson, Emily Wilson]  [Emily Wilson]

**Question 4:**

Retrieve and display the street addresses of the "san_francisco_hq" and "new_york_branch" office locations.

In [40]:
# code Here
location =jdata['office_locations']
location_data = pd.DataFrame(location)
location_data.loc['street']

san_francisco_hq    500 Tech Plaza
new_york_branch        123 Wall St
Name: street, dtype: object

**Question 5:**

Determine whether the company offers health insurance and a retirement plan. Provide the results as "Yes" or "No."

In [41]:
if (ben_data['health_insurance'].all()):
    print("Health insurence yes")
else:
    print("Health insurence NO")

Health insurence yes

In [42]:
if (ben_data['retirement_plan'].all()):
    print("retirement_plan yes")
else:
    print("retirement_plan NO")

retirement_plan yes

**Question 6:**

Display the version and last updated date from the metadata section of the JSON data.

In [43]:
# code Here

e = jdata['metadata']
met = pd.DataFrame([e])
met[['version','last_updated']]

  version last_updated
0     1.0   2023-09-30

**Question 7:**

 Sort the employees by their hire date in ascending order and display the first five employees in the sorted list.

In [44]:
# code Here
data['hireDate'].sort_values()

2    2018-03-10
1    2019-08-22
0    2020-05-15
3    2021-02-28
Name: hireDate, dtype: object

In [45]:
data.sort_values(by='hireDate').head(5)

,id,firstName,lastName,position,salary,email,hireDate,manager,address.street,address.city,address.state,address.zipcode
2,3,Bob,Johnson,Product Manager,85000,bob.johnson@techcorp.com,2018-03-10,Sarah Williams,789 Oak St,San Francisco,CA,94103
1,2,Alice,Smith,Data Analyst,60000,alice.smith@techcorp.com,2019-08-22,Michael Brown,456 Elm St,San Francisco,CA,94102
0,1,John,Doe,Software Engineer,75000,john.doe@techcorp.com,2020-05-15,Michael Brown,123 Main St,San Francisco,CA,94101
3,4,Emily,Wilson,UX Designer,70000,emily.wilson@techcorp.com,2021-02-28,Sarah Williams,101 Pine St,San Francisco,CA,94104

**Question 8:**

Count the number of employees in the dataset and display the result.

In [46]:
# code Here
len(data['firstName'])

4

In [47]:
data.head()

,id,firstName,lastName,position,salary,email,hireDate,manager,address.street,address.city,address.state,address.zipcode
0,1,John,Doe,Software Engineer,75000,john.doe@techcorp.com,2020-05-15,Michael Brown,123 Main St,San Francisco,CA,94101
1,2,Alice,Smith,Data Analyst,60000,alice.smith@techcorp.com,2019-08-22,Michael Brown,456 Elm St,San Francisco,CA,94102
2,3,Bob,Johnson,Product Manager,85000,bob.johnson@techcorp.com,2018-03-10,Sarah Williams,789 Oak St,San Francisco,CA,94103
3,4,Emily,Wilson,UX Designer,70000,emily.wilson@techcorp.com,2021-02-28,Sarah Williams,101 Pine St,San Francisco,CA,94104

**Question 9:**

Identify employees who do not have a manager (i.e., manager field is empty), and display their names and positions.

In [48]:
# code Here
data[data['manager'] == None]

Empty DataFrame
Columns: [id, firstName, lastName, position, salary, email, hireDate, manager, address.street, address.city, address.state, address.zipcode]
Index: []

In [54]:
data["address.street"]

0    123 Main St
1     456 Elm St
2     789 Oak St
3    101 Pine St
Name: address.street, dtype: object

**Question 10: Bonus Part**

Using a geocoding service or library of your choice (e.g., geopy), convert the street addresses of all office locations into latitude and longitude coordinates. Then, provide the coordinates for each office location.

In [57]:
from geopy.geocoders import Nominatim
import pandas as pd
import time

# Sample DataFrame
data = pd.DataFrame({
    "address.street": ["123 Main St", "456 Elm St", "789 Oak St", "101 Pine St"]
})

# Initialize the geocoder with a unique user agent
geolocator = Nominatim(user_agent="myGeocoder123")

# Example addresses
addresses = data["address.street"]

# Function to get latitude and longitude
def get_coordinates(address):
    try:
        location = geolocator.geocode(address)
        if location:
            return (location.latitude, location.longitude)
        else:
            print(f"Could not geocode address: {address}")
            return (None, None)
    except Exception as e:
        print(f"Error occurred: {e}")
        return (None, None)

# Apply the function to each address with a delay to avoid overloading the service
coordinates = []
for address in addresses:
    coord = get_coordinates(address)
    coordinates.append(coord)
    print(f"Address: {address}, Coordinates: {coord}")
    time.sleep(1)  # Add delay to avoid getting blocked

# Create a DataFrame with the results
df = pd.DataFrame({
    "Address": addresses,
    "Latitude": [coord[0] for coord in coordinates],
    "Longitude": [coord[1] for coord in coordinates]
})

print(df)

Error occurred: Non-successful status code 403
Address: 123 Main St, Coordinates: (None, None)
Error occurred: Non-successful status code 403
Address: 456 Elm St, Coordinates: (None, None)
Error occurred: HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Max retries exceeded with url: /search?q=789+Oak+St&format=json&limit=1 (Caused by ReadTimeoutError("HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Read timed out. (read timeout=1)"))
Address: 789 Oak St, Coordinates: (None, None)
Error occurred: Non-successful status code 403
Address: 101 Pine St, Coordinates: (None, None)
       Address Latitude Longitude
0  123 Main St     None      None
1   456 Elm St     None      None
2   789 Oak St     None      None
3  101 Pine St     None      None